body{
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: grey;
}
header, nav, section{
    border: 1px solid gainsboro;
    border-radius: 2%;
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: rgb(192, 190, 190) 1px 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.header__img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
header h1{
    color: red;
}
header > p > span{
    font-weight: bold;
    color: rgb(116, 109, 109);
}
header h4{
    border: 1px solid gainsboro;
    border-radius: 5%;
    background-color: rgb(189, 36, 36);
    margin: auto;
    color: whitesmoke;
    width: 20%;
    height: 30px;
    text-align: center;
    padding-top: 10px;

}
ul, li{
    display: flex;
    flex-direction: row;
    color: rgb(116, 109, 109);
    text-align: center;
    text-decoration: none;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
}
.corp{
    height: 600px;
    display: flex;
    flex-direction: column;

}
.corp__film{
    margin: 15px 15px 15px 15px
}
.corp__film--img{
    float: left;
    height: 120px;
    width: 100px;
}
h2 > span{
    background-color: rgb(172, 167, 167);
}